<div>
    <h1>Welcome to Online Blood Bank</h1>

    <div class="container">
        <img src="/assets/img/blood-bank-image.jpg" alt="image">
    </div>

    <mat-card class="card">
        <mat-card-title>
            <mat-card-title>Select Type</mat-card-title>
        </mat-card-title>
        <br>
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/adminlogin']">ADMIN</button>
            <button mat-raised-button color="primary" [routerLink]="['/userlogin']">USER</button>
        </mat-card-actions>
    </mat-card>

</div>