<div class="container">
    <form #bloodRequestForm="ngForm" (ngSubmit)="submitBloodRequest()">
        <h1>Submit Blood Request</h1>

        <!-- State input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="bloodRequest.state" name="state" id="state" class="form-control"
                placeholder="Enter the State" required #state="ngModel"
                [class.is-invalid]="state.invalid && state.touched" />
            <div *ngIf="state.errors && state.invalid && state.touched">
                <p class="text-danger" *ngIf="state.errors?.['required']">
                    State field is required
                </p>
                <!-- <p class="text-danger" *ngIf="state.errors?.['pattern']">
                    Enter the valid data
                </p> -->
            </div>
        </div>
        <!-- Area input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="bloodRequest.area" name="area" id="area" class="form-control"
                placeholder="Enter the Area" required #area="ngModel"
                [class.is-invalid]="area.invalid && area.touched" />
            <div *ngIf="area.errors && area.invalid && area.touched">
                <p class="text-danger" *ngIf="area.errors?.['required']">
                    Area field is required
                </p>
                <!-- <p class="text-danger" *ngIf="area.errors?.['pattern']">
                    Enter the valid Area
                </p> -->
            </div>
        </div>
        <!-- PinCode input -->
        <div class="form-outline mb-4">
            <input type="text" onfocus="this.value=''" [(ngModel)]="bloodRequest.pinCode" name="pinCode" id="pinCode" class="form-control"
                placeholder="Enter the PinCode" pattern="[0-9]+$" required #pinCode="ngModel"
                [class.is-invalid]="pinCode.invalid && pinCode.touched" />
            <div *ngIf="pinCode.errors && pinCode.invalid && pinCode.touched">
                <p class="text-danger" *ngIf="pinCode.errors?.['required']">
                    PinCode field is required
                </p>
                <p class="text-danger" *ngIf="pinCode.errors?.['pattern']">
                    Enter the valid Pin Code
                </p>
            </div>
        </div>
        <!-- Blood Group input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="bloodRequest.bloodGroup" name="bloodGroup" id="bloodGroup"
                class="form-control" placeholder="Enter the BloodGroup" pattern="^(A|B|AB|O)[-+]$" required
                #bloodGroup="ngModel" [class.is-invalid]="bloodGroup.invalid && bloodGroup.touched" />
            <div *ngIf="bloodGroup.errors && bloodGroup.invalid && bloodGroup.touched">
                <p class="text-danger" *ngIf="bloodGroup.errors?.['required']">
                    Blood Group field is required
                </p>
                <p class="text-danger" *ngIf="pinCode.errors?.['pattern']">
                    Enter the valid Blood Group
                </p>
            </div>
        </div>

        <!-- Submit button -->
        <input class="btn btn-primary btn-block mb-4" type="submit" [disabled]="bloodRequestForm.invalid"/>

    </form>
</div>