.container {
  text-align: center;
  max-width: 400px;
  margin-top: 40px;
  margin-left: 380px;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  max-height: 150px;
  max-width: 150px;
}